@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


     * {
        box-sizing: border-box;
    }
    
    .container {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    
.box {
        color: darkslateblue;
        font-size: 25px;
        font-family: 'Noto Sans', sans-serif;
        text-align: left;
        padding: 25px;
     }
 .box1 {
            color: darkslateblue;
            font-size: 25px;
            font-family: 'Noto Sans', sans-serif;
            text-align: center;
            padding: 25px;
        
        }
        .box2 {
            color: darkslateblue;
            font-size: 25px;
            font-family: 'Permanent Marker', cursive;
            text-align: center;
            padding: 25px;
        }      
        .box3 {
            color: darkslateblue;
            font-size: 25px;
            font-family: 'Noto Sans', sans-serif;
            text-align: left;
            padding: 25px }  




body {
    background-image: url(summer9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}